Flask_SocketIO==4.3.1
Flask==1.1.2
Flask-Session==0.3.2
Jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.0.3
python-engineio==3.13.2
python-socketio==4.6.0
flask_restful==0.3.9
firebase_admin==5.2.0
python-dotenv==0.19.2
multi-rake==0.0.2
aiogram~=2.19
trio~=0.20.0
pytelegrambotapi==4.5.1
eventlet==0.33.1
gevent
gevent-websocket