<!doctype html>
<html lang="en">

<head>
  <title>Penguin Coders Chat</title>
  <!--Link to CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" action="{{url_for('chat')}}" method="POST">
    <h1 class="h2 mb-3 font-weight-normal">Penguin Coders Chat</h1><br><br>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus><br>
    <input type="text" id="password" name="password" class="form-control" placeholder="Password" required><br>
    <button class="btn btn-lg btn-primary btn-block" value="submit">Start Chat</button>
  </form>
</body>

</html>